{% extends 'layout.twig' %}

{% block body %}
  <h1>Admin Dashboard</h1>

  <h2>Customers</h2>
  <ul>
    <li>List (todo)</li>
    <li>Create (todo)</li>
  </ul>

  <h2>Invoices</h2>
  <ul>
    <li>List (todo)</li>
    <li><a href="/invoices/new">Create</a></li>
  </ul>

  <h2>Payments</h2>
  <ul>
    <li>List (todo)</li>
  </ul>
{% endblock %}
