{% extends 'layout.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}
  <h1>Administration</h1>

  <ul>
    <li><a href="/users/">Utilisateurs</a></li>
    <li><a href="/customers/">Clients</a></li>
    <li><a href="/invoices/">Factures</a></li>
    <li><a href="/payments/">Paiements</a></li>
  </ul>
{% endblock %}
