{% extends 'layout.twig' %}

{% block body %}
  <h1>Admin Dashboard</h1>

  <h2>Clients</h2>
  <ul>
    <li>Liste (todo)</li>
    <li>Créer (todo)</li>
  </ul>

  <h2>Factures</h2>
  <ul>
    <li><a href="/invoices/">Liste</a></li>
    <li><a href="/invoices/new">Créer</a></li>
  </ul>

  <h2>Paiements</h2>
  <ul>
    <li>Lister (todo)</li>
  </ul>
{% endblock %}
