{% extends 'layout.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}
  <h1>Administration</h1>

  <h2>Utilisateurs</h2>
  <ul>
    <li><a href="/users/">Liste</a></li>
    <li><a href="/users/new">Créer</a></li>
  </ul>

  <h2>Clients</h2>
  <ul>
    <li><a href="/customers/">Liste</a></li>
    <li><a href="/customers/new">Créer</a></li>
  </ul>

  <h2>Factures</h2>
  <ul>
    <li><a href="/invoices/">Liste</a></li>
    <li><a href="/invoices/new">Créer</a></li>
  </ul>

  <h2>Paiements</h2>
  <ul>
    <li><a href="/payments/">Liste</a></li>
  </ul>
{% endblock %}
