<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %} - Biblys Cloud</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div class="page">
      <a href="https://www.biblys.fr/">
        <img src="/images/biblys-logo.png" alt="Biblys" class="main-logo">
      </a>
      {% block body %}{% endblock %}
    </div>
    <script type="text/javascript" src="https://axys.me/widget.php{% if userUid %}?UID={{ userUid }}{% endif %}"></script>
  </body>
</html>
