{% extends 'layout.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
  <h1>Connexion</h1>
  <p>Veuillez vous <a href="https://axys.me/login/?return_url={{ url }}">connecter avec votre compte Axys</a> pour continuer.</p>
{% endblock %}
