{% extends 'layout.twig' %}

{% block title %}Paiements{% endblock %}

{% block body %}

  <h1>Paiements</h1>

  <a class="button" href="/payments/new">
    Nouveau paiement
  </a>

  <div id="payments"></div>

{% endblock %}
