{% extends 'layout.twig' %}

{% block title %}Utilisateurs{% endblock %}

{% block body %}

  <h1>Utilisateurs</h1>

  <a class="button" href="/users/new">
    Nouvel utilisateur
  </a>

  <table>
    <thead>
      <tr>
        <th>Nom</th>
        <th>E-mail</th>
        <th>Client</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
        <tr>
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.customer.name }}</td>
          <td>
            <a class="button" href="/users/{{ user.id }}/edit">
              modif.
            </a>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}
