{% extends 'layout.twig' %}

{% block title %}Clients{% endblock %}

{% block body %}

  <h1>Clients</h1>

  <a class="button" href="/customers/new">
    Nouveau client
  </a>

  <table>
    <thead>
      <tr>
        <th>Nom</th>
        <th>E-mail</th>
      </tr>
    </thead>
    <tbody>
      {% for customer in customers %}
        <tr>
          <td>{{ customer.name }}</td>
          <td>{{ customer.email }}</td>
          <td>
            <a class="button" href="/customers/{{ customer.id }}/edit">
              modif.
            </a>
          </td>
          <td>
            <form method="post" action="/customers/{{ customer._id }}/delete">
              <button>×</button>
            </form>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}
