{% extends 'layout.twig' %}

{% block title %}Créer un nouveau client{% endblock %}

{% block body %}

  <h1>Créer un nouveau client</h1>

  <form class="model-form" action="/customers/create" method="post">
    {% include 'customers/_form.twig' %}
  </form>

{% endblock %}
